<div class="about-container" [ngClass]="{'hidden': about == false, 'about-end': time}" id="top">
  <div class="about-content" [ngClass]="{'fade-up': time}">
    <div class="first-about-line">
      <img src="../../../assets/close.png" alt="" (click)="aboutClose()">
    </div>
    <div class="rest-about">
      <div class="text-vertical">ESMEL</div>
      <div class="text-about">
        <span class="text-red">Passionate about images, I developed my passion for photography thanks to the Lumière Brothers and the Pays d'Oz. </span> Indeed, it is while returning from a trip to Australia immortalized by my first reflex camera, when I had finished my studies in Cinema and Audiovisual, that I decided to become a Photographer. After several years of practice during various trips and a training in Paris, I take the step to become a full-time Photographer. Influenced by reportage, dreamlike and cinematographic universes, I try to tell a story where the human always has a big place. <br> <br>
        <span class="text-red">Winner of the "Instagram - National Geographic Traveler" award,</span> I won a world tour in 2016 on the theme of immersion travel photography that took me from Tanzania to Peru, through India, Laos, Hong Kong and New Zealand. Today I am one of the photographers of the Photographers of the World agency Photographers of the World and I propose to accompany groups of travellers for photo workshops abroad.<br> <br>
      </div>
      <div class="text-vertical">LIAN</div>
    </div>
  </div>
</div>

<div [ngClass]="{'hidden': gone}" routerLinkActive="active">
  <div class="above-all" [ngClass]="{'above-all-end': data.clicked3 == false}">
    <div class="first-line-container">
      <div class="text" (click)="back()" *ngIf="data.largeur > 650">Back</div>
      <div class="arrow-left-back" (click)="back()" *ngIf="data.largeur < 650"><img src="../../../assets/arrow-left.png" alt="" class="arrow-back"></div>
      <div class="text" (click)="aboutOpen()">About</div>
    </div>
    <div class="rest-container">
      <div class="text-vertical">ESMEL</div>
      <div class="text-vertical">LIAN</div>
    </div>
  </div>

  <div class="carousel-container">
    <div class="section2" id="project1" [ngClass]="{'animation2': !data.clicked3, 'animation1': data.clicked3}">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="video3" oncanplay="this.play()" onloadedmetadata="this.muted = true" *ngIf="data.largeur > 500">
        <source src="../../../assets/project3.mp4" type="video/mp4">
      </video>
      <img src="../../../assets/projectMini3.gif" alt="" class="all-gif" *ngIf="data.largeur < 500">
    </div>
  </div>

  <div class="content-container" lazy-load-images>
    <div class="text-start">You miss one person <br> And everything's depopulated</div>
    <div class="content-line">
      <div class="content-image">
        <div class="image1">
          <div class="image-container">
            <!--          <img src="../../assets/project11.jpg" class="image-para" data-bottom-top="transform:translate3d(0, 100px, 0)" data-top-bottom="transform:translate3d(0, -100px, 0)">-->
            <img src="../../../assets/project31.jpg" class="image-para1">
          </div>
        </div>
        <div class="image2">
          <div class="image-container">
            <!--          <img src="../../assets/project12.jpg" class="image-para" data-bottom-top="transform:translate3d(0, 100px, 0)" data-top-bottom="transform:translate3d(0, -100px, 0)">-->
            <img src="../../../assets/project32.jpg" class="image-para2">
          </div>
        </div>
      </div>
      <div class="content-text">
        Sharing one of the most important events in one's life is something incredible. I have been able, with my hands, to immortalize the love of young couples with crazy ideals and live with them the power of their feelings.
      </div>
    </div>
    <div class="content-right">
      <div class="container-right">
        <div class="text-start-right">To love is to look in the same direction...</div>
        <div class="text-right">Throwing bouquets, moving speeches, wild statements. In short: Laughter and tears. So much turmoil to try to capture with my camera. So many joys to be admired in the eyes of people. So many beautiful missions that I had the chance to live and transcribe.</div>
      </div>
    </div>
    <div class="content-line2">
      <div class="desktop" *ngIf="data.largeur > 650">
        <div class="content-image" [ngClass]="{'hidden': index != 3}">
          <div class="image">
            <div class="image-container2 image11 effet-image" [attr.data-background-src]="'../../../assets/project33.jpg'"></div>
          </div>
          <div class="image2">
            <div class="image-container2 image22 effet-image" [attr.data-background-src]="'../../../assets/project34.jpg'"></div>
          </div>
        </div>
        <div class="content-image" [ngClass]="{'hidden': index != 5}">
          <div class="image">
            <div class="image-container2 image11 effet-image" [attr.data-background-src]="'../../../assets/project35.jpg'"></div>
          </div>
          <div class="image2">
            <div class="image-container2 image22 effet-image" [attr.data-background-src]="'../../../assets/project36.jpg'"></div>
          </div>
        </div>
        <div class="content-image" [ngClass]="{'hidden': index != 7}">
          <div class="image">
            <div class="image-container2 image11 effet-image" [attr.data-background-src]="'../../../assets/project37.jpg'"></div>
          </div>
          <div class="image2">
            <div class="image-container2 image22 effet-image" [attr.data-background-src]="'../../../assets/project38.jpg'"></div>
          </div>
        </div>
        <div class="arrow-right-container" (click)="right()" [ngClass]="{'notVisible': index == 7}"><img src="../../../assets/arrow-right.png" alt="" class="arrow-right"></div>
        <div class="arrow-left-container" (click)="left()" [ngClass]="{'notVisible': index == 3}"><img src="../../../assets/arrow-left.png" alt="" class="arrow-left"></div>
      </div>
      <div class="phone" *ngIf="data.largeur < 650">
        <ngb-carousel #myCarousel class="carousel" (swipeleft)="next()" (swiperight)="prev()"
                      [showNavigationArrows]="true"
                      [showNavigationIndicators]="true"
                      interval="6000"
                      [wrap]="true" >
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project33.jpg'"></div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project34.jpg'"></div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project35.jpg'"></div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project36.jpg'"></div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project37.jpg'"></div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="section">
              <div class="image">
                <div class="image-container2 image11" [attr.data-background-src]="'../../../assets/project38.jpg'"></div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="other-project" (click)="link()">
    <div class="text1">Next project</div>
    <div class="text2">Lovely Poppy</div>
  </div>
</div>

