<div class="about-container" [ngClass]="{'hidden': about == false, 'about-end': time}">
  <div class="about-content" [ngClass]="{'fade-up': time}">
    <div class="first-about-line">
      <img src="../../../assets/close.png" alt="" (click)="aboutClose()">
    </div>
    <div class="rest-about">
      <div class="text-vertical">ESMEL</div>
      <div class="text-about">
        <span class="text-red">Passionate about images, I developed my passion for photography thanks to the Lumière Brothers and the Pays d'Oz. </span> Indeed, it is while returning from a trip to Australia immortalized by my first reflex camera, when I had finished my studies in Cinema and Audiovisual, that I decided to become a Photographer. After several years of practice during various trips and a training in Paris, I take the step to become a full-time Photographer. Influenced by reportage, dreamlike and cinematographic universes, I try to tell a story where the human always has a big place. <br> <br>
        <span class="text-red">Winner of the "Instagram - National Geographic Traveler" award,</span> I won a world tour in 2016 on the theme of immersion travel photography that took me from Tanzania to Peru, through India, Laos, Hong Kong and New Zealand. Today I am one of the photographers of the Photographers of the World agency Photographers of the World and I propose to accompany groups of travellers for photo workshops abroad.<br> <br>
      </div>
      <div class="text-vertical">LIAN</div>
    </div>
  </div>
</div>

<div>
  <div class="above-all">
    <div class="first-line-container">
      <div class="text" (click)="aboutOpen()">About</div>
    </div>
    <div class="rest-container">
      <div class="text-vertical">ESMEL</div>
      <div class="text-vertical">LIAN</div>
    </div>
  </div>

  <div class="carousel-container">
    <ngb-carousel #myCarousel class="carousel" (swipeleft)="next()" (swiperight)="prev()"
                  [showNavigationArrows]="true"
                  [showNavigationIndicators]="true"
                  interval="200000"
                  [keyboard]="true"
                  [activeId]="data.activeId"
                  [wrap]="true" >
      <ng-template ngbSlide id="project1">
        <div class="section">
          <video id="stream1" autoplay muted loop preload="true" oncanplay="this.play()" onloadedmetadata="this.muted = true" *ngIf="data.largeur > 500">
            <source src="../../../assets/project1.mp4" type="video/mp4">
          </video>
          <img id="stream1"  src="../../../assets/projectMini1.gif" alt="" class="all-gif" *ngIf="data.largeur < 500">
        </div>
        <div class="text-video" (click)="view(1)">View Project</div>
      </ng-template>
      <ng-template ngbSlide id="project2">
        <div class="section">
          <video id="stream1" autoplay muted loop preload="true" oncanplay="this.play()" onloadedmetadata="this.muted = true" *ngIf="data.largeur > 500">
            <source src="../../../assets/project2.mp4" type="video/mp4">
          </video>
          <img src="../../../assets/projectMini2.gif" alt="" class="all-gif" *ngIf="data.largeur < 500">
        </div>
        <div class="text-video" (click)="view(2)">View Project</div>
      </ng-template>
      <ng-template ngbSlide id="project3">
        <div class="section">
          <video id="stream1" autoplay muted loop preload="true" oncanplay="this.play()" onloadedmetadata="this.muted = true" *ngIf="data.largeur > 500">
            <source src="../../../assets/project3.mp4" type="video/mp4">
          </video>
          <img src="../../../assets/projectMini3.gif" alt="" class="all-gif" *ngIf="data.largeur < 500">
        </div>
        <div class="text-video" (click)="view(3)">View Project</div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

