.above-all {
  color: black;
  position: fixed;
  top:0;
  z-index: 0 !important;
  .first-line-container {
    justify-content: space-between !important;
  }
}

.above-all-end {
  color: white !important;
}

/* Section style ================================ */
.section2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vw;
    transition: 1.5s;
    object-fit: cover;
  }
}

.animation1 {
  video {
    animation: un-zoom 1.5s 1;
  }
}

@keyframes un-zoom {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 85vh;
    width: 85vw;
  }
}


.animation2 {
  transition: 1s;
  video {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    height: 100vh !important;
    width: 100vw !important;
  }
}

@keyframes putain-zoom {
  0% {
    height: 85vh;
    width: 85vw;
  }
  100% {
    height: 100vh !important;
    width: 100vw !important;
  }
}

/* Content text ======================================= */

.content-container {
  margin: 0 auto;
  width: 85vw;
  position: relative;
}

.text-start {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.content-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
  height: 50vh;
}

.content-text {
  padding: 20px;
  font-weight: lighter;
  font-size: 18px;
  width: 40vw;
  padding-top: 0;
}

.content-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 150px;
}
.container-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 60vw;
  padding: 0;
}

.text-start-right {
  padding: 0;
  margin-bottom: 30px;
  text-align: right;
  font-weight: bolder;
  font-size: 25px;
}

.text-right {
  font-weight: lighter;
  font-size: 18px;
}

/* Image effet parralax =================================== */
.image-container {
  position:relative;
  overflow:hidden;
  img {
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
  }
}

.image1 {
  box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.image2 {
  position: absolute;
  margin-left: 20vw;
  margin-top: -10vh;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.image-para1 {
  width: 40vw;
}

.image-para2 {
  width: 35vw;
}

.image-container2 {
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
  height: 25vw;
  background-size: cover;
}

.image11 {
  width: 60vw;
}

.image22 {
  position: absolute;
  margin-left: 15vw;
  margin-top: -5vh;
  width: 50vw;
}

.content-line2 {
  height: 50vw;
  margin-bottom: 150px;
}

/* Arrow & carousel Style ============================= */
.arrow-left-container, .arrow-right-container {
  width: 100px;
  opacity: 0.2;
  transition: 1s;
  img {
    transition: 1s;
    width: 100px;
    object-fit: cover;
  }
}

.arrow-left-container:hover, .arrow-right-container:hover {
  opacity: 0.6;
}

.arrow-right {
  margin-left: 65vw;
  margin-top: -37vw;
}

.arrow-left {
  margin-top: 10vw;
  margin-left: 8vw;
}

@media (max-width: 1100px) {
  .text-start, .text-start-right {
    font-size: 20px
  }
  .content-text {
    font-size: 13px;
  }
  .container-right {
    width: 70vw;
  }
  .content-right {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .text-right {
    font-size: 15px;
  }
  .content-line2, .content-line {
    margin-bottom: 150px !important;
  }
  .content-line {
    height: auto !important;
  }
}

@media (max-width: 880px) {
  .image-para1 {
    width: 70vw;
    margin: 0 auto;
  }
  .image-para2 {
    width: 65vw;
    margin: 0 auto;
  }
  .content-text {
    font-size: 15px;
    padding-left: 0;
    width: 65vw;
    margin-top: 150px;
  }
  .content-line, .content-line2 {
    margin-bottom: 50px !important;
  }
  .content-line {
    flex-direction: column;
  }
  .image22 {
    margin-top: 5vh;
  }
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  .image11 {
    width: 80vw;
    min-height: 200px;
    img {
      object-fit: cover;
    }
  }
}

.arrow-left-back {
  padding-left: 10px;
}
.arrow-back {
  width: 40px;
}

@media (max-width: 550px) {
  .content-container {
    width: 80vw;
  }
  .text-start, .text-start-right {
    font-size: 16px
  }
  .content-text {
    font-size: 12px;
    width: 100%;
    margin-top: 50px;
  }
  .text-right {
    font-size: 13px;
  }
  .image-para2 {
    width: 60vw;
  }
  .content-text {
    margin-top: 130px;
  }
  .container-right {
    width: 100%;
  }
  .image2 {
    margin-top: -5vh;
  }
}


/* Tous les backgrounds ================================== */

.back3 {
  background-image: url('../../../assets/project13.jpg');
  animation: fade-magic 1.5s 1;
}

.back4 {
  background-image: url('../../../assets/project14.jpg');
  animation: fade-magic2 1.5s 1;

}

.back5 {
  background-image: url('../../../assets/project15.jpg');
  animation: fade-magic 1.5s 1;
}

.back6 {
  background-image: url('../../../assets/project16.jpg');
  animation: fade-magic2 1.5s 1;
}
.back7 {
  background-image: url('../../../assets/project17.jpg');
  animation: fade-magic 1.5s 1;
}

.back8 {
  background-image: url('../../../assets/project18.jpg');
  animation: fade-magic2 1.5s 1;
}
.back9 {
  background-image: url('../../../assets/project19.jpg');
  animation: fade-magic 1.5s 1;
}

.back10 {
  background-image: url('../../../assets/project110.jpg');
  animation: fade-magic2 1.5s 1;
}

.back33 {
  background-image: url('../../../assets/project13.jpg');
  animation: fade-magic 1.5s 1;
}

.back44 {
  background-image: url('../../../assets/project14.jpg');
  animation: fade-magic 1.5s 1;

}

.back55 {
  background-image: url('../../../assets/project15.jpg');
  animation: fade-magic 1.5s 1;
}

.back66 {
  background-image: url('../../../assets/project16.jpg');
  animation: fade-magic 1.5s 1;
}
.back77 {
  background-image: url('../../../assets/project17.jpg');
  animation: fade-magic 1.5s 1;
}

.back88 {
  background-image: url('../../../assets/project18.jpg');
  animation: fade-magic 1.5s 1;
}
.back99 {
  background-image: url('../../../assets/project19.jpg');
  animation: fade-magic 1.5s 1;
}

.back100 {
  background-image: url('../../../assets/project110.jpg');
  animation: fade-magic 1.5s 1;
}

@keyframes fade-magic {
  0% {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fade-magic2 {
  0% {
    opacity: 0;
    transform: translate(20px, 0px);
  }
  25% {
    opacity: 0;
    transform: translate(20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
